<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            <li ui-sref-active="active" ng-repeat="order in orders | orderBy:selectedOrder | filter:carFilter">
                <a ui-sref="orders.lastMonthOrders.order({id: order.id})">
                    <div class="">
                        <b>Name : </b>{{order.manufacturer}} {{order.model}}
                    </div>
                    <div class="">
                        <b>Price : </b>{{order.price}}
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <ui-view></ui-view>
    </div>
</div>