<div class="panel panel-default col-md-12 card">
	<div class="panel-body">
		<div class="container">
					<br>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img class="img-responsive" ng-src="scripts/JSONDataSource/images/{{order.img}}" alt="Chania" width="460" height="345">
							</div>
							<div class="item">
								<img class="img-responsive" ng-src="scripts/JSONDataSource/images/{{order.img}}" alt="Chania" width="460" height="345">
							</div>
							
							<div class="item">
								<img class="img-responsive" ng-src="scripts/JSONDataSource/images/{{order.img}}" alt="Flower" width="460" height="345">
							</div>
							<div class="item">
								<img class="img-responsive" ng-src="scripts/JSONDataSource/images/{{order.img}}" alt="Flower" width="460" height="345">
							</div>
						</div>
					</div>
				</div>	
		<div class="card-content">
			<p><b>Name : </b>{{order.manufacturer}} {{order.model}}</p>
			<p><b>Orders :</b> {{order.noOfOrders}}</p>
		</div>
	</div>
</div>