<div class="row">
	<div class="col-md-12">

		<div class="container">
		    <div class="row">
		        <!-- Card Projects -->
		        <div class="col-md-6 col-md-offset-3">
		            <div class="card">
		                <div class="card-image">
			                <img class="img-responsive" ng-src="scripts/JSONDataSource/images/{{model.img}}"/>
		                    <!-- <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png"> -->
		                    <!-- <span class="card-title">Material Cards</span> -->
		                </div>
		                
		                <div class="card-content">
		                    <p>{{model.manufacturer}} {{model.model}}</p>
		                    <p> {{model.price}}</p>
		                    <p>{{model.quality}}</p>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
