<div class="row">
    <div class="col-md-4">
        
        <input type="text" ng-model="carFilter" />

        <select ng-model="selectedOrder" ng-options="option for option in options"></select>

        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="model in models | orderBy:selectedOrder"">
                    <td>
                    <a ui-sref="showcase.model({id: model.id})">
                        <div>
                           {{model.id}}
                        </div>
                    </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <ui-view></ui-view>
    </div>
</div>
