<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputdefault">Search</label>
            <input class="form-control" ng-model="carFilter" id="inputdefault" type="text">
        </div>
        <div class="form-group">
            <label for="sel1">Sort By:</label>
        <select class="form-control" id="sel1" ng-model="selectedOrder" ng-options="option for option in options"></select>
        <br>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr ng-repeat="model in models | orderBy:selectedOrder | filter:carFilter">
                <td>
                    <a ui-sref="showcase.model({id: model.id})">
                        <div>
                            {{model.manufacturer}} {{model.model}}
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-9">
    <ui-view></ui-view>
</div>
</div>